body {
    background-color: #e5e8eb;
}

.banner {
    width: 100%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background-color: #318dcf;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif; /* Cambia la fuente a una más atractiva */
    font-size: 24px; /* Ajusta el tamaño de la fuente */
    color: white; /* Cambia el color del texto */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
}

.banner_2 {
    width: 100%;
    height: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background-color: #1f4e70;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif; /* Cambia la fuente a una más atractiva */
    font-size: 24px; /* Ajusta el tamaño de la fuente */
    color: white; /* Cambia el color del texto */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
}


.contains_graph1 {
    width: 98%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #e5e8eb;
}

.contains_graph2 {
    width: 98%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: #ffffff;
}

